.link {
    text-decoration: none;
    color: red;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 2px solid red;
}

.link:hover {
    background-color: red;
    color: white
}

.link:active {
    background-color: red;
    color: white
}

.link:visited {
    border-color: white;
    color: white
}