@keyframes changeColor {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

.box {
    width: 100px;
    height: 100px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 3s;
}